body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    border-bottom: 1px solid #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

nav h1 {
    margin: 0;
    letter-spacing: 6px;
}

nav h1 a {
    color: white;
    text-decoration: none;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #D4AF37;
}

.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

.hero p {
    color: #bfbfbf;
    font-size: 20px;
    margin-bottom: 40px;
}

.button {
    display: inline-block;
    padding: 15px 35px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.button:hover {
    background: #D4AF37;
    transform: translateY(-3px);
}
.collection {
    padding: 100px 60px;
}

.collection h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    padding: 30px;

    background: #1b1b1b;
    border: 1px solid #333;
    border-radius: 10px;

    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    border-color: #D4AF37;
}

.card h3 {
    margin-top: 0;
}
